---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<div
  class:list={['section-divider mx-auto max-w-5xl px-4', className]}
  role="separator"
  aria-hidden="true"
>
  <span class="section-divider__line"></span>
</div>
